<launch>

<node name="pressure_altimeter" pkg="pressure_altimeter"
    type="pressure_altimeter" output="screen">
    <!-- name of the frame in the header of the output -->
    <param name="world_frame_id" type="string" value="/world"/>
    <remap from="~pressure" to="/imu_3dm_gx4/pressure"/>
</node>	
  	
<!--  <node name="attitude_eskf" pkg="kr_attitude_eskf" type="kr_attitude_eskf"
  output="screen">
  <param name="enable_magnetometer" type="bool" value="true"/>
  <param name="calibrate_magnetometer" type="string" value="none"/>
  <param name="broadcast_frame" type="bool" value="false"/>
  <param name="publish_pose" type="bool" value="false"/>
  <remap from="~imu" to="/djiros/imu"/>
  <remap from="~magnetic_field" to="/djiros/mag"/>
</node> 	 -->

 
  <node name="gps_odom" pkg="gps_odom" type="gps_odom" output="screen">
    <remap from="imu" to="/djiros/imu"/>
    <!-- <remap from="height" to="/pressure_altimeter/height"/> -->
    <remap from="height" to="/sonar/height"/>
    <remap from="fix" to="/djiros/gps"/>
    <remap from="fix_velocity" to="/djiros/velo"/>
    <remap from="/odometry" to="/odom"/>

    <param name="world_frame_id" type="string" value="/world"/>
    <param name="body_frame_id" type="string" value="/body"/>
  </node>

  <node pkg="rviz" type="rviz" name="odom_rviz" args="-d $(find gps_odom)/rviz_cfg/gps_odom.rviz" />
</launch>
